extends layout

block content
  h1= title

    meta(charset='utf-8')
    title  Insidious Bird
    script(type='text/javascript', src='/phaser/phaser.js')
    script(type='text/javascript', src='/phaser/main.js')
